.git
.github
.idea
.vscode
.cursor
node_modules
*.log
.DS_Store
Thumbs.db

# Test files
__tests__
__mocks__
jest.config.js
babel.config.js

# Examples
examples

# Dev files
CHANGELOG.md
.eslintrc*
.prettierrc*
